<header>
  <div class="header__container">
    <a href="{{site.baseurl}}" class="header__logo">{{site.logo}}</a>
    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__item"><a href="{{ site.baseurl }}" class="menu__link">Home</a></li>
        <!--<li class="menu__item">-->
        <!--<a href="{{ "/blog" | prepend: site.baseurl }}" class="menu__item">Blog</a>-->
        <!--</li>-->
        <li class="menu__item"><a href="#" class="menu__link">My Work</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</header>