.content {
    margin: 10px 20px;
    &--home {
        width: 70%;
    }
    h1 {
        @extend %fontTitle;
        font-size: 3rem;
        position:  relative;
        &:before {
            content:          '';
            position:         absolute;
            right:            105%;
            top:              30px;
            display:          block;
            width:            100%;
            height:           2px;
            background-color: $red;
        }
    }
    p {
        font-size: 1.2rem;
        @extend %fontReg;
    }
}
//.content__social {
//    //width: 60px;
//    float: left;
//    //margin-top: 200px;
//    margin-right: 70px;
//    height: 100%;
//}
//.content__social_link {
//    width: 60px;
//    height: 60px;
//    display: block;
//    border: 1px solid $silver;
//}