.slider {
    height:           60vh;
    width:            100%;
    background-color: red;
}
.slider__container {
    @extend %grid;
    position: relative;
    height:   100%;
}
.slider_title {
    @extend %fontTitle;
    position: absolute;
    bottom:   0;
    left:     0;
    color:    $white;
}
.slider__fname {
    font-size:   10rem;
    user-select: none;
    position:    absolute;
    left:        0;
    bottom:      160px;
}
.slider__lname {
    font-size:   16rem;
    user-select: none;
    position:    absolute;
    bottom:      -45px;
    left:        0;
}