.menu {
    display:     flex;
    align-items: center;
}
.menu__item {
    flex-grow: 1;
    text-align: right;
}
.menu__link {
    text-decoration: none;
    @extend %fontTitle;
    color: $black;
    font-size: 1rem;
    &:hover,
    &:focus,
    &:active {
        color: $black;
    }
}