<section class="bio">
  <img src="http://via.placeholder.com/150x150" alt="" style="border-radius: 50%" class="bio__img">
  <h2 class="bio__title">Roman Kovtun</h2>
  <h4 class="bio__position">Front-end Developer</h4>
  <ul class="bio__menu">
    <li class="bio__menu_item"><a href="#" class="bio__menu_link">Resume</a></li>
    <li class="bio__menu_item"><a href="#" class="bio__menu_link">My Work</a></li>
    <li class="bio__menu_item"><a href="#" class="bio__menu_link">Contact Me</a></li>
  </ul>
</section>