<section class="contact_me">
  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-magnet fa-lg"></i></div>
    <h4 class="hero_text"><span>Contact Me</span></h4>
  </div>
  <p class="small-text"><strong>m.</strong> <a href="mailto:gyto23@gmail.com">gyto23@gmail.com</a></p>
  <p class="small-text"><strong>t.</strong> <a href="tel:224-241-6004">224.241.6004</a></p>
  <p><a target="_blank" href="https://www.linkedin.com/in/roman-kovtun/"><i class="fa fa-linkedin fa-lg"></i></a> <a target="_blank" href="https://twitter.com/gyto23"><i class="fa fa-twitter fa-lg"></i></a> <a target="_blank" href="https://www.instagram.com/gyto/"><i class="fa fa-instagram fa-lg"></i></a>
    <a href="https://github.com/GYTO" target="_blank"><i class="fa fa-github fa-lg"></i></a></p>
</section>