<div class="education">
  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-graduation-cap fa-lg"></i></div>
    <h4 class="hero_text"><span>Education</span></h4>
  </div>
  <ul class="hero_list">
    <li>
      <h6>DeVry University <span>/ 2017 - Anticipated Graduation 2020</span></h6>
      <p>- Bachelor's of Web Development and Administration</p>
    </li>
    <li>
      <h6>Harper College <span>/ 2012 - 2016</span></h6>
      <p>- The Degree of Applied Science in Web Development-Web Application Development
         Specialization</p>
      <p>- Computer in Business Certificate</p>
      <p>- Web Development Certification</p>
    </li>
  </ul>
</div>