<div class="portfolio">
  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-briefcase fa-lg"></i></div>
    <h4 class="hero_text"><span>Portfolio</span></h4>
  </div>
  <div class="portfolio__wrapper">
    <div class="portfolio__item">
      <div class="portfolio__card">
        <a target="_blank" href="http://www.lingsonwatchrepair.com"><img src="images/www-lingsonwatchrepair-com.jpg" alt="">
        <span>Ling Son Watch Repair</span></a>
      </div>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__card">
        <a target="_blank" href="https://theprenuplawyer.com"><img src="images/www-theprenuplawyer-com.jpg" alt="">
        <span>The Prenup Lawyer</span></a>
      </div>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__card">
        <a target="_blank" href="http://www.ocwatchguy.com"><img src="images/under-repair.jpg" alt="">

        <span>OCWatchGuy</span></a>
      </div>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__card">
        <a target="_blank" href="http://www.lunaroyster.com"><img src="images/under-repair.jpg" alt="">
        <span>Lynar Oyster</span></a>
      </div>
    </div>
  </div>
</div>