<div class="profile">
  <h1 class="profile__name">Roman <span>Kovtun</span></h1>
  <h2 class="profile__profession">Front End Developer</h2>

  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-folder fa-lg"></i></div>
    <h4 class="hero_text"><span>Profile</span></h4>
  </div>

  <p class="small-text">Front-end Web Developer with 4 years of experience in developing, analyzing user interface/experience, testing,
     debugging,
     deploying, and training staff within landing pages and eCommerce technologies. Proper ability in optimizing web
     functionality that improve workflow efficiencies and search engine optimization. With a flair for creating elegant
     solutions in
     the least amount of time. Passionate about building world class responsive web applications.</p>
</div>