<div class="prof_skills">
  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-bar-chart fa-lg"></i></div>
    <h4 class="hero_text"><span>Professional Skills</span></h4>
  </div>

  <ul class="hero_list">
    <li><h6>Database</h6>
      <p>MySQL, PostgreSQL</p></li>
    <li><h6>Operating System</h6>
      <p>Windows, Linux, Mac</p></li>
    <li><h6>Languages</h6>
      <p>HTML5, XHTML, CSS3, Sass/Scss, Less, familiar with JavaScript, PHP</p></li>
    <li><h6>Adobe Suite</h6>
      <p>Skilled in Adobe CC - Dreamweaver, Photoshop, Illustrator,
         Bridge, Lightroom, Edge Animate, Premier Pro</p></li>
    <li><h6>Frameworks</h6>
      <p>Bootstrap, Foundation, familiar with AngularJS, Ruby on Rails</p></li>
    <li><h6>Photographic</h6>
      <p>Lighting expert, Digital Video, Large format Printing, Portfolio,
         Flexible creative approach</p></li>
    <li><h6>Internet System</h6>
      <p>Amazon Marketplace</p></li>
    <li><h6>Other</h6>
      <p>Gulp.js, familiar with Webpack, Require.js</p></li>
  </ul>

</div>