<div class="work_experience">
  <div class="hero_title">
    <div class="hero_icon"><i class="fa fa-briefcase fa-lg"></i></div>
    <h4 class="hero_text"><span>Work Experience</span></h4>
  </div>
  <ul class="hero_list">
    <li>
      <h6>WebToMed Group, LLC. <span>/ 2016 - Present</span></h6>
      <p><strong>Front-End Web Developer</strong>
        Collaborate with internal teams of designers, developers and programmers to build user interface
        and communicate directly with clients. Ensure project completion within budget and performing
        quality control to ensure complete client satisfaction. Maintain client expectations and manage
        project scopes by managing website and application development.</p>
    </li>
    <li>
      <h6>WorldWide Sellers <span>/ 2014 - 2016</span></h6>
      <p><strong>Order Processing / IT / Warehouse Supervisor</strong>
        Provided technical advice and assistance in operating of new products, maintain Amazon
        Marketplace and fulfill orders. Assist imaging team members with product styling, prep, and post
        production. Research and develop ordering system, resulting in increased sales in first month. Also,
        maintain high level of clients satisfaction by explaining processes in details and following through
        on all promises.</p>
    </li>
  </ul>
</div>