//===============
//   Generic Colors
//===============

$white: #ffffff;
$black: #000000;

//===============
//   Template Colors
//===============

$silver: #E5E4E7;
$dark-green: #88B8B0;
$light-green: #A9E3D8;
$blue: #009ACB;
$gray: #636363;