//===============
//   Generic Colors
//===============

$white: #ffffff;
$black: #000000;

//===============
//   Template Colors
//===============

$silver: #E5E4E7;

$silver-dark: #64666a;
$red: #e5225b;
$dark-blue: #1d2026;
$dark-blue-2: #20232a;